body{font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
margin: 0;}
.flexible-container{display: flex;
    
position: 2%;}
.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.wellcome{ color: blue;
font-size: 50px;}
.color-p{color: rgb(153, 0, 255);}
.well-come{width: 50%;
padding: 2%;}
.well-come img{width: 80%;}
.hire{
    background-image: linear-gradient(orange, tomato);
}

.big{width: 50%;
padding: 2%;}
big img{width: 70%;}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.download{
    background-image: linear-gradient(orange, tomato);
    
}
.madel{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.last-develop{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    box-shadow: 10px 10px  40px gray;}
 #baby{
     border-left : 7px solid;
     border-image: linear-gradient( red,green);
     border-image-slice:1;
 }
#full{
    border-left:7px solid;
    border-image: linear-gradient(orange,tomato );
    border-image-slice: 1;
}
 

   .next{
    display: flex;
    padding: 2px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p {text-align: center;}